:root {
  --font-color: black;
  --actvie-link-container: #dfdfdf;
  --max-page-width: 980px;
  --content-padding: 50px;

  --sidebar-width: 350px;
  --sidebar-color: #ebebeb;
  --sidbar-border-color: #e6e6e6;

  --synopsis-width: 230px;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  color: var(--font-color);
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
